/* Style pour l'en-tête fixe en haut de la page */
header {
  position: fixed; /* Fixe l'en-tête en haut de la page */
  width: 100%; /* Occupe toute la largeur de la page */
  left: 0;
  top: 0;
  z-index: 1000; /* Assure que l'en-tête reste au-dessus des autres éléments */
}

/* Style pour la barre de navigation */
.navbar {
  display: flex;
  flex-direction: column; /* Organise les éléments en colonne */
  background-color: white;
}

/* Style pour les blocs internes de la navbar */
.innerblock {
  display: flex;
  justify-content: space-between; /* Espace les éléments uniformément */
  align-items: center; /* Centre verticalement les éléments */
  flex-wrap: wrap; /* Permet de bien ordonner les éléments quand l'écran est réduit */
}

/* Style pour la partie supérieure de l'en-tête */
#topheader {
  margin: auto;
  width: 60%;
}

/* Style pour la partie inférieure de l'en-tête */
#bottomheader {
  margin-top: 10px;
  padding: 10px 20%;
  width: 60%;
  background-color: #036ba1;
  color: white;
  position: relative;
}

/* Style pour le conteneur du bas */
.containerbottom {
  display: flex;
  align-items: center;
}

/* Style pour le conteneur du logo */
.container_logo {
  display: flex;
  align-items: center;
  width: 200px;
  cursor: pointer;
}

/* Style pour le logo */
.logo {
  gap: 2rem;
  padding: 1rem;
  width: 80px;
  height: auto;
}

/* Style pour le bloc du formulaire de recherche */
.block_search_form {
  position: relative;
}

/* Style pour le bouton dans le formulaire de recherche */
.block_search_form button {
  height: 100%;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0px;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  padding: 0;
  border: none;
  background-color: transparent;
}

/* Style pour le menu déroulant */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  z-index: 1000;
}

/* Style pour le contenu du menu déroulant */
.dropdown-content {
  max-height: 200px;
  overflow-y: auto; /* Ajoute une barre de défilement si nécessaire */
}

/* Style pour les éléments du menu déroulant */
.dropdown-item {
  padding: 8px 16px;
  cursor: pointer;
}

/* Style au survol des éléments du menu déroulant */
.dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Style pour le champ de saisie de recherche */
#search_form_input {
  height: 45px;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 12px;
  font-weight: 500;
  color: #003661;
  border: solid 1px #dee2e6;
  width: 360px;
  max-width: 100%;
}

/* Style pour l'icône de recherche */
.block_search_form button:after {
  font-family: 'Material Icons';
  content: "\e8b6"; /* Code Unicode pour l'icône de recherche */
  font-size: 24px;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
  color: #9b9b9b;
  transition: all 0.3s linear;
}

/* Style au survol de l'icône de recherche */
.block_search_form button:hover:after {
  color: #003661;
}

/* Style pour le conteneur des réseaux sociaux */
.container_rs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style pour les liens des réseaux sociaux */
.rs_link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  font-size: 20px;
  color: #003661;
  transition: all 0.3s linear;
}

/* Style au survol des liens des réseaux sociaux */
.rs_link:hover {
  color: #db0084;
}

/* Style pour les boutons */
.btn {
  margin-left: 5px;
}

/* Style pour le titre des favoris */
.favtitle {
  font-size: 20px;
  font-weight: 500;
}

/* Style pour la liste des favoris */
#favlist {
  margin-left: 5px;
  display: flex;
  color: rgb(255, 238, 0);
}

/* Style pour les éléments de la liste des favoris */
#favlist .favitem {
  position: relative;
  padding-right: 10px;
  padding-left: 3px;
}

/* Ajoute un séparateur "/" après chaque élément favori sauf le dernier */
#favlist .favitem::after {
  content: "/";
  position: absolute;
  right: 0;
  color: white;
}

#favlist .favitem:last-child::after {
  content: ""; /* Supprime le séparateur pour le dernier élément */
}

/* Style pour le titre du nom d'utilisateur */
.titleusername {
  font-size: 20px;
  font-weight: 500;
  color: #005cbb;
}

/* Style pour le conteneur du nom d'utilisateur */
.containerusername {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}