<div class="container">
  <h1>Se connecter</h1>
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput type="email" id="email" formControlName="email" class="form-control">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input matInput type="text" id="password" formControlName="password" class="form-control">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" type="submit">Se connecter</button>
    </div>
  </form>
</div>