<div class="container">
  <h1>METEO France</h1>
  <div class="container_home">
    <div class="main">
      <h4 style="text-decoration: underline;">Carte de france par régions :</h4>
      <span style="font-size: 14px; font-weight: 400;">Ajouter un favori en cliquant sur la région de votre choix</span>
      <div id="chart_div"></div>
    </div>
    <div id="sidebar">
      <h4 style="text-decoration: underline;">Articles :</h4>
      <ul class="list-article">
        <li class="editorial-content">
          <a href="https://meteofrance.com/actualites-et-dossiers/actualites/meteo-du-soleil-au-sud"
            title="Météo : du soleil au sud" target="_blank">
            <mat-card appearance="outlined">
              <mat-card-content>
                <div class="card-content">
                  <img mat-card-sm-image
                    src="https://meteofrance.com/sites/meteofrance.com/files/styles/80_56/public/images/articles/11566911120231244-Vanulus.jpg?itok=KZ-jGvkz">
                  <div class="text-content">
                    <mat-card-title>Météo : du soleil au sud</mat-card-title>
                    <mat-card-subtitle>13/11/2024</mat-card-subtitle>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </a>
        </li>
        <li class="editorial-content">
          <a href="https://meteofrance.com/actualites-et-dossiers/actualites/manque-de-soleil-sur-la-moitie-nord-du-pays"
            title="Manque de soleil sur la moitié nord du pays" target="_blank">
            <mat-card appearance="outlined">
              <mat-card-content>
                <div class="card-content">
                  <img mat-card-sm-image
                    src="https://meteofrance.com/sites/meteofrance.com/files/styles/80_56/public/images/articles/automne_1.gif?itok=2e8DgQA8">
                  <div class="text-content">
                    <mat-card-title>Manque de soleil sur la moitié nord du pays</mat-card-title>
                    <mat-card-subtitle>13/11/2024</mat-card-subtitle>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </a>
        </li>
        <li class="editorial-content">
          <a href="https://meteofrance.com/actualites-et-dossiers/actualites/vers-une-amelioration-de-la-secheresse-des-sols-sur-les-pyrenees"
            title="Vers une amélioration de la sécheresse des sols sur les Pyrénées-Orientales" target="_blank">
            <mat-card appearance="outlined">
              <mat-card-content>
                <div class="card-content">
                  <img mat-card-sm-image
                    src="https://meteofrance.com/sites/meteofrance.com/files/styles/80_56/public/images/articles/GettyImages-854363150.jpg?itok=DKb1CcF5">
                  <div class="text-content">
                    <mat-card-title>Vers une amélioration de la sécheresse des sols sur les
                      Pyrénées-Orientales</mat-card-title>
                    <mat-card-subtitle>12/11/2024</mat-card-subtitle>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </a>
        </li>
        <li class="editorial-content">
          <a href="https://meteofrance.com/actualites-et-dossiers/actualites/meteo-france-aux-cotes-des-elus-locaux-face-au-defi-du-changement-climatique"
            title="Salon des maires : Météo-France aux côtés des élus locaux face au défi du changement climatique"
            target="_blank">
            <mat-card appearance="outlined">
              <mat-card-content>
                <div class="card-content">
                  <img mat-card-sm-image
                    src="https://meteofrance.com/sites/meteofrance.com/files/styles/80_56/public/images/articles/ACTU_le-salon-des-maires20240912_V2_0.jpg?itok=j3YsLfUw">
                  <div class="text-content">
                    <mat-card-title>Salon des maires : Météo-France aux côtés des élus locaux face au défi du changement
                      climatique</mat-card-title>
                    <mat-card-subtitle>07/11/2024</mat-card-subtitle>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>